* {
  font-family: TimesNewRoman, "Times New Roman", Times, serif; 
}

body {
  html,height: 100%;
}

body {
  padding-top: 52px;
  padding-bottom: 52px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#content-container {
  margin-top: 24px;
  margin-bottom: 96px;
}

#browser-warning-msg {
  margin: 0;
  width: 100%;
  background-color: #eef4fc;
  position: fixed;
  padding: 10px 0 10px 70px;
  bottom: 50px;
  color: #ff0000;
}

#LeftContentContainer,
#RightContentContainer {
  padding: 0 16px;
}

.navbar-inverse {
  background-color: #0e284b;
  background-image: none;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.WelcomeText h1,
.WelcomeText p,
.WelcomeText ul {
  margin-bottom: 28px;
}

ul li {
  font-size: 16px;
}

ul ul {
  margin-bottom: 10px;
}

.text-center td,
th {
  text-align: center;
}

.centered {
  text-align: center;
}

.text-center tr td {
  width: 50%;
}

.text-center table {
  background-color: none;
  width: 100%;
}

h4,
p,
.alert {
  line-height: 160%;
}

#copyright {
  color: white;
  margin-bottom: 0px;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 13px;
}

.container-fluid,
.theme-showcase {
  height: 100%;
}

.transBackground {
  background: rgba(255, 255, 255, 0.79);
  height: 100%;
}

#InstructionsDIV {
  padding-left: 22px;
  padding-right: 22px;
}

#InstructionsDIV ul {
  padding-left: 18px;
}

.ColumnHeader {
  font-weight: bold;
  font-size: 19px;
}

#InstructionsDIV p,
.alert,
.AnswerDescription p {
  font-size: 19px;
}

.AnswerDescription,
.AnswerDescription img {
  margin-bottom: 28px;
}

#WarningInResults {
  margin-bottom: 28px;
}

#NextTraining {
  margin-top: 28px;
}

td.slim {
  padding: 4px !important;
  line-height: 13px;
}

td.slim button {
  padding: 7px !important;
}

.holt-laury-table {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#respondent-images-container {
  display: flex;
  flex-wrap: wrap;
}

#respondent-images-container img {
  width: 20%;
  margin: 10px 0;
  padding: 18px;
}

#respondent-images-container img:hover {
  cursor: pointer;
}

#PartSection {
  font-weight: bold;
}

#UpperArrow {
  position: absolute;
  top: 0px;
  right: 16%;
  width: 65.5%;
  height: 130px;
}

#LowerArrow {
  position: absolute;
  top: 160px;
  right: 16.4%;
  width: 65.5%;
  height: 130px;
}

#InvestmentCalc {
  position: absolute;
  top: 100px;
  right: 34%;
  color: orange;
  font-size: 34px;
  font-weight: bold;
}

#ReturnCalc {
  position: absolute;
  top: 160px;
  right: 46%;
  color: orange;
  font-size: 34px;
  font-weight: bold;
}

#InvestmentAmount {
  color: green;
}

#InvestmentResult,
#RespondentCoinsAmountNum {
  color: blue;
}

#InvestorCoins {
  position: absolute;
  top: 70px;
  right: 97%;
}

#RespondentCoins {
  position: absolute;
  top: 70px;
  right: 1%;
}

#InvestorCoin1,
#InvestorCoin2,
#InvestorCoin3,
#InvestorCoin4,
#InvestorCoin5,
#InvestorCoin6,
#InvestorCoin7,
#InvestorCoin8,
#InvestorCoin9,
#InvestorCoin10,
#InvestorCoin11,
#InvestorCoin12,
#InvestorCoin13,
#InvestorCoin14,
#InvestorCoin15,
#InvestorCoin16,
#InvestorCoin17,
#InvestorCoin18,
#InvestorCoin19,
#InvestorCoin20 {
  position: absolute;
  left: 0px;
}

#InvestorCoin6,
#InvestorCoin7,
#InvestorCoin8,
#InvestorCoin9,
#InvestorCoin10,
#InvestorCoin11,
#InvestorCoin12,
#InvestorCoin13,
#InvestorCoin14,
#InvestorCoin15,
#InvestorCoin16,
#InvestorCoin17,
#InvestorCoin18,
#InvestorCoin19,
#InvestorCoin20 {
  display: none;
}

#RespondentCoin1,
#RespondentCoin2,
#RespondentCoin3,
#RespondentCoin4,
#RespondentCoin5,
#RespondentCoin6,
#RespondentCoin7,
#RespondentCoin8,
#RespondentCoin9,
#RespondentCoin10,
#RespondentCoin11,
#RespondentCoin12,
#RespondentCoin13,
#RespondentCoin14,
#RespondentCoin15,
#RespondentCoin16,
#RespondentCoin17,
#RespondentCoin18,
#RespondentCoin19,
#RespondentCoin20 {
  position: absolute;
  right: 0px;
}

#RespondentCoin6,
#RespondentCoin7,
#RespondentCoin8,
#RespondentCoin9,
#RespondentCoin10,
#RespondentCoin11,
#RespondentCoin12,
#RespondentCoin13,
#RespondentCoin14,
#RespondentCoin15,
#RespondentCoin16,
#RespondentCoin17,
#RespondentCoin18,
#RespondentCoin19,
#RespondentCoin20 {
  position: absolute;
  right: 0px;
  display: none;
}

#InvestorCoinsLabel {
  position: absolute;
  top: 220px;
  left: 13px;
  color: green;
}

#RespondentCoinsLabel {
  position: absolute;
  top: 220px;
  right: 7px;
  color: blue;
}

#InvestorCoinsLabel p,
#RespondentCoinsLabel p {
  line-height: 70%;
  font-weight: bold;
  text-align: center;
}

#InvestorCoinsAmount {
  position: absolute;
  top: 76px;
  left: 22px;
  color: black;
}

#RespondentCoinsAmount {
  position: absolute;
  top: 76px;
  right: 22px;
  color: black;
}

#InvestorCoinsAmount span,
#RespondentCoinsAmount span {
  line-height: 91%;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

#SliderContainer {
  position: absolute;
  top: 310px;
  right: 22%;
  height: 40px;
  width: 55%;
}

#SliderSubmitBtn {
  position: absolute;
  right: 41.5%;
  top: 340px;
}

.ui-slider .ui-slider-handle {
  cursor: pointer;
}

.ui-accordion-content {
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-style: none;
  background-color: transparent !important;
  background-image: none !important;
}

.report thead tr th,
.report tbody tr th,
.report tbody tr td {
  text-align: left;
}

#CommentsCategories ul,
#CommentsCategories p,
#ImansComments ul,
#ImansComments p {
  padding-right: 40px;
  padding-left: 40px;
}

.questionnaire-header {
  margin-bottom: 32px;
}

.questionnaire-content {
  margin: 40px 0 90px 30px;
}

.questionnaire-content .radio,
.questionnaire-content .checkbox {
  margin-left: 16px;
}

.questionnaire-content .radio-subgroup {
  margin-top: 24px;
  margin-left: 32px;
}

.questionnaire-content p:not(:first-of-type) {
  margin-top: 24px;
  padding-top: 12px;
  border-top: 1px solid #ddd;
}

.questionnaire-content div.random:not(:first-of-type) {
  margin-top: 24px;
  padding-top: 12px;
  border-top: 1px solid #ddd;
}

.questionnaire-submit-btn {
  margin-top: 24px;
}

@media (max-width: 767px) {
  .btn-lg {
    font-size: 16px;
  }
  h2 {
    font-size: 16px;
  }
  .ColumnHeader {
    font-weight: bold;
    font-size: 13px;
  }
  h3,
  h4,
  p {
    font-size: 13px;
  }
  ul li {
    font-size: 13px;
  }
  .jumbotron p {
    font-size: 13px;
  }
  #RespondentCoins {
    position: absolute;
    top: 70px;
    right: 10px;
  }
  #InvestorCoins {
    position: absolute;
    top: 70px;
    left: 10px;
  }
}

@media (max-width: 520px) {
  .btn-lg {
    font-size: 10px;
  }

  #UpperArrow {
    position: absolute;
    top: 0px;
    right: 30.1%;
    width: 40%;
    height: 70px;
  }

  #LowerArrow {
    position: absolute;
    top: 160px;
    right: 30.4%;
    width: 40%;
    height: 70px;
  }

  #InvestmentCalc {
    position: absolute;
    top: 70px;
    right: 34%;
    font-size: 22px;
    font-weight: bold;
  }

  #ReturnCalc {
    position: absolute;
    top: 130px;
    right: 46%;
    font-size: 22px;
    font-weight: bold;
  }
}
