{% extends "base.html" %} 

{% load static %} 

{% block title %}Your Results{% endblock title %} 

{% block leftcontent %}
<div>
  <ul>
    <li>
      <h3>You decided to pass ${{user_investment}} to {{respondent}}.</h3>
    </li>
    <li>
      <h3>{{respondent}} decided to return ${{respondent_investment}}.</h3>
    </li>
    <li>
      <h3>You guessed that {{respondent}} would return ${{respondent_investment_guess}}.</h3>
    </li>
    <li>
      <h3>
        Your guess is {{guess_flag}} $1 of how much {{respondent}} decided
        to give back to you.
      </h3>
    </li>
    <li>
      <h3>
        Therefore you earned ${{user_left}} + ${{respondent_investment}} + ${{user_bonus}} =
        ${{received}} in total. We will send you a check after you finish today's survey.
      </h3>
    </li>
    <li>
      <h3>
        {{respondent}} will also receive a check!
      </h3>
    </li>
  </ul>
</div>
<div>
  <form action="{% url 'invest_game:compare' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-large btn-primary">Go to Questions!</button>
  </form>
</div>
{% endblock leftcontent %} 
