{% extends "base.html" %} 

{% load static %}

{% block title %}Thank you!{% endblock title %} 

{% block leftcontent %}
<div>
  <h1>Thank you for completing the study</h1>
</div>
{% endblock leftcontent %} 

{% block rightcontent %}
<div id="RightContentContainer"></div>
{% endblock rightcontent %} 

{% block content %}
<!-- JavaScript code for this project -->
<script type="text/javascript">
  $("#RightContentContainer").height($(window).height() * 0.7);
  $("#RightContentContainer").width($(window).width() / 2);
</script>
{% endblock content %}
