{% extends "base.html" %} 

{% load static %} 

{% block title %}Welcome!{% endblock title %} 

{% block leftcontent %}
<div id="questionnaire_si2">
  <form id="questionform" class="questionnaire-content">
    {% csrf_token %}

    <p><b>Do you approve or disapprove of the way Donald Trump is handling his job as president?</b></p>
    <div class="radio">
      <label>
        <input type="radio" name="approve_of_trump" value="approve" />
        Approve
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="approve_of_trump" value="disapprove" />
        Disapprove
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="approve_of_trump" value="dont_know" />
        Dont' know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="approve_of_trump" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p>
      <b>Over the next 12 months, do you expect the national economy to
        get better, get worse, or stay about the same?</b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="economic_outlook" value="get_better" />
        Get better
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="economic_outlook" value="stay_the_same" />
        Stay the same
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="economic_outlook" value="get_worse" />
        Get worse
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="economic_outlook" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="economic_outlook" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p><b>Are there Muslims living in your neighborhood?</b></p>
    <div class="radio">
      <label>
        <input type="radio" name="muslims_in_neighborhood" value="many" />
        Many
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslims_in_neighborhood" value="some" />
        Some
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslims_in_neighborhood" value="none" />
        None at all
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslims_in_neighborhood" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslims_in_neighborhood" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p><b>Do you have Muslim co-workers?</b></p>
    <div class="radio">
      <label>
        <input type="radio" name="muslim_coworkers" value="many" />
        Many
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslim_coworkers" value="some" />
        Some
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslim_coworkers" value="none" />
        None at all
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslim_coworkers" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslim_coworkers" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p>
      <b>Have you, personally, ever been treated unfairly due to your race,
        ethnicity, or religion?</b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="self_treated_unfairly" value="yes" />
        Yes
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="self_treated_unfairly" value="no" />
        No
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="self_treated_unfairly" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="self_treated_unfairly" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p>
      <b>Do you think people of your race or ethnicity are treated unfairly?</b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="often" />
        Often
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="sometimes" />
        Sometimes
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="seldom" />
        Seldom
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="never" />
        Never
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p><b>Do you think people of your religion are treated unfairly? </b></p>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="often" />
        Often
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="sometimes" />
        Sometimes
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="seldom" />
        Seldom
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="never" />
        Never
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="refused_to_answer" />
        Refused to answer
      </label>
    </div>

    <p>
      <b>How concerned are you about the rise of Islamic extremism in the
        U.S.?</b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="very_concerned" />
        Very concerned
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="somewhat_concerned" />
        Somewhat concerned
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="not_too_concerned" />
        Not too concerned
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="not_concerned" />
        Not concerned
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p>
      <b>
        In general, how well do you think the American government is doing in
        reducing the threat of terrorism?
      </b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="very_well" />
        Very well
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="fairly_well" />
        Fairly well
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="not_very_well" />
        Not very well
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="not_well_at_all" />
        Not well at all
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <button type="submit" class="btn btn-primary questionnaire-submit-btn">
      Next
    </button>
  </form>
</div>
{% endblock leftcontent %} 

{% block jscontent %}
<!-- JavaScript code for this template -->
<script type="text/javascript">
  $(document).ready(function() {
    $("#questionform").submit(function(event) {
      event.preventDefault();

      var approve_of_trump = $("input[name=approve_of_trump]:checked").val();
      var muslims_in_neighborhood = $("input[name=muslims_in_neighborhood]:checked").val();
      var muslim_coworkers = $("input[name=muslim_coworkers]:checked").val();
      var self_treated_unfairly = $("input[name=self_treated_unfairly]:checked").val();
      var race_treated_unfairly = $("input[name=race_treated_unfairly]:checked").val();
      var religion_treated_unfairly = $("input[name=religion_treated_unfairly]:checked").val();
      var economic_outlook = $("input[name=economic_outlook]:checked").val();
      var islamic_extremism = $("input[name=islamic_extremism]:checked").val();
      var reducing_terrorism = $("input[name=reducing_terrorism]:checked").val();

      if (
        !approve_of_trump ||
        !muslims_in_neighborhood ||
        !muslim_coworkers ||
        !self_treated_unfairly ||
        !race_treated_unfairly ||
        !religion_treated_unfairly ||
        !economic_outlook ||
        !islamic_extremism ||
        !reducing_terrorism
      ) {
        alert("Please check all the anwsers");
      } else {
        $.ajax({
          url: "{% url 'invest_game:question3' %}",
          method: "POST",
          data: JSON.stringify({
            approve_of_trump: approve_of_trump,
            muslims_in_neighborhood: muslims_in_neighborhood,
            muslim_coworkers: muslim_coworkers,
            self_treated_unfairly: self_treated_unfairly,
            race_treated_unfairly: race_treated_unfairly,
            religion_treated_unfairly: religion_treated_unfairly,
            economic_outlook: economic_outlook,
            islamic_extremism: islamic_extremism,
            reducing_terrorism: reducing_terrorism
          })
        }).done(function() {
          window.location.href = {% url "invest_game:question4" %}
        })
      } 
    });
  });
</script>
{% endblock jscontent %}
