{% extends "base.html" %} 

{% load static %} 

{% block title %}Welcome!{% endblock title %} 

{% block leftcontent %}
<div id="questionnaire_si0" class="questionnaire-content">
  <form id="questionform">
    {% csrf_token %}

    <p>
      <b>Did you vote for a presidential candidate in the last election?</b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="voted_last_election"  value="yes" />
        Yes
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="voted_last_election" value="no" />
        No
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="voted_last_election" value="dont_know_or_refuse" />
        Don't know/Refuse to answer
      </label>
    </div>

    <p><b>Whom did you vote for?</b></p>
    <div class="radio">
      <label>
        <input type="radio" name="how_voted" value="trump" />
        Donald Trump
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="how_voted" value="clinton" />
        Hillary Clinton
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="how_voted" value="other" />
        Other
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="how_voted" value="dont_know_or_refuse" />
        Don't know/Refuse to answer
      </label>
    </div>

    <button type="submit" class="btn btn-primary questionnaire-submit-btn">
      Next
    </button>
  </form>
</div>
{% endblock leftcontent %} 

{% block jscontent %}
<!-- JavaScript code for this template -->
<script type="text/javascript">
  $(document).ready(function() {
    $("#questionform").submit(function(event) {
      event.preventDefault()

      var voted_last_election = $("input[name=voted_last_election]:checked").val();
      var how_voted = $("input[name=how_voted]:checked").val();

      if (!voted_last_election || !how_voted) {
        alert("Please check all the anwsers");
      } else {
        $.ajax({
          url: "{% url 'invest_game:question2_5' %}",
          method: "POST",
          data: JSON.stringify({
            voted_last_election: voted_last_election,
            how_voted: how_voted
          }),
        }).done(function() {
          window.location.href = {% url "invest_game:question3" %}
        })
      } 
    });
  });
</script>
{% endblock jscontent %}
