{% extends "base.html" %} 

{% load static %} 

{% block title %}Welcome!{% endblock title %} 

{% block leftcontent %}
<div id="questionnaire_si0" class="questionnaire-content">
  <form action={% url 'invest_game:question1' %} method="POST" id="questionform">
    {% csrf_token %}

    <p><b>Are you a U.S. citizen?</b></p>
    <div class="radio">
      <label>
        <input type="radio" name="us_citizen" value="yes" />
        Yes
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="us_citizen" value="no" />
        No
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="us_citizen" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="us_citizen" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <button type="submit" class="btn btn-primary questionnaire-submit-btn">
      Next
    </button>
  </form>
</div>
{% endblock leftcontent %} 

{% block jscontent %}
<!-- JavaScript code for this template -->
<script type="text/javascript">
  $(document).ready(function() {
    $("#questionform").submit(function(event) {
      var answer = $("input[name=us_citizen]:checked").val();

      if (!answer) {
        event.preventDefault();
        alert("Please check all the anwsers");
      } 
    });
  });
</script>
{% endblock jscontent %}
