{% extends "base.html" %} 

{% load static %} 

{% block title %}Welcome!{% endblock title %} 

{% block leftcontent %}
<div id="questionnaire_si2">
  <form id="questionform" class="questionnaire-content">
    {% csrf_token %}

    <p>
      <b>Generally speaking, would you say that most people can be trusted, or
        that you can’t be too careful in dealing with people?</b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="general_trustworthiness" value="most_people" />
        Most people can be trusted
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="general_trustworthiness" value="cant_be_too_careful" />
        Can’t be too careful
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="general_trustworthiness" value="dont_know_or_refuse" />
        Don't know/Refuse to answer
      </label>
    </div>

    <p><b>Where do you get most of your news? (check all that apply)</b></p>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="abc_nbc_cbs" />
        ABC, NBC, or CBS
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="cnn" />
        CNN
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="fox_news" />
        Fox News
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="local_tv_radio" />
        Local TV or radio
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="msnbc" />
        MSNBC
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="npr_pbs" />
        NPR (National Public Radio) or PBS
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="newspapers" />
        Newspapers, online or in paper
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="facebook" />
        Facebook
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="twitter" />
        Twitter
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="other" />
        Other
      </label>
    </div>

    <p><b>Are your political views generally closer to those of</b></p>
    <div class="radio">
      <label>
        <input type="radio" name="political_views" value="democrats" />
        The Democratic Party
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="political_views" value="republicans" />
        The Republican Party
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="political_views" value="no_preference" />
        No preference
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="political_views" value="dont_know_or_refuse" />
        Don't know/Refuse to answer
      </label>
    </div>

    <p><b>Are you a U.S. citizen?</b></p>
    <div class="radio">
      <label>
        <input type="radio" name="us_citizen" value="yes" />
        Yes
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="us_citizen" value="no" />
        No
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="us_citizen" value="dont_know_or_refuse" />
        Don't know/Refuse to answer
      </label>
    </div>

    <button type="submit" class="btn btn-primary questionnaire-submit-btn">
      Next
    </button>
  </form>
</div>
{% endblock leftcontent %} 

{% block jscontent %}
<!-- JavaScript code for this template -->
<script type="text/javascript">
  var keep = Math.floor(Math.random() * 3);

  $(document).ready(function() {
    var elems = $(".random");
    for (var i = 0; i < elems.length; ++i) {
      if (i !== keep) {
        $(elems[i]).hide();
      }
    }
  });

  $("#questionform").submit(function(event) {
    event.preventDefault();

    var general_trustworthiness = $("input[name=general_trustworthiness]:checked").val();
    var news_source = $("input[name=news_source]:checked")
      .map(function() { return $(this).val() }).get()
    var political_views = $("input[name=political_views]:checked").val();
    var us_citizen = $("input[name=us_citizen]:checked").val();

    if (
      !general_trustworthiness ||
      !news_source.length > 0 ||
      !political_views ||
      !us_citizen
    ) {
      alert("Please check all the anwsers");
    } else {
      $.ajax({
        url: "{% url 'invest_game:question2' %}",
        method: "POST",
        data: JSON.stringify({
          general_trustworthiness: general_trustworthiness,
          news_source: news_source,
          political_views: political_views,
          us_citizen: us_citizen
        }),
      }).done(function(data) {
        if (data.redirect_location === "question2_5") {
          window.location.href = {% url "invest_game:question2_5" %}
        } else {
          window.location.href = {% url "invest_game:question3" %}
        }
      })
    } 
  });
</script>
{% endblock jscontent %}
