{% extends "base.html" %} 

{% load static %} 

{% block title %}Welcome!{% endblock title %} 

{% block leftcontent %}
<div id="questionnaire_si2">
  <form id="questionform" class="questionnaire-content">
    {% csrf_token %}

    <p><b>Which do you think are your main source of news? (check all that apply)</b></p>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="abc_nbc_cbs" />
        ABC, NBC, or CBS
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="cnn" />
        CNN
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="fox_news" />
        Fox News
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="local_tv_radio" />
        Local TV or radio
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="msnbc" />
        MSNBC
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="npr_pbs" />
        NPR (National Public Radio) or PBS
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="newspapers" />
        Newspapers, online or in paper
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="facebook" />
        Facebook
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="news_source" name="news_source" value="twitter" />
        Twitter
      </label>
    </div>

    <p><b>Are there Muslims living in your neighborhood?</b></p>
    <div class="radio">
      <label>
        <input type="radio" name="muslims_in_neighborhood" value="many" />
        Many
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslims_in_neighborhood" value="some" />
        Some
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslims_in_neighborhood" value="none" />
        None at all
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslims_in_neighborhood" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslims_in_neighborhood" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p><b>Do you have Muslim co-workers?</b></p>
    <div class="radio">
      <label>
        <input type="radio" name="muslim_coworkers" value="many" />
        Many
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslim_coworkers" value="some" />
        Some
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslim_coworkers" value="none" />
        None at all
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslim_coworkers" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="muslim_coworkers" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p>
      <b>Have you, personally, ever been treated unfairly due to your race,
        ethnicity, or religion?</b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="self_treated_unfairly" value="yes" />
        Yes
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="self_treated_unfairly" value="no" />
        No
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="self_treated_unfairly" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="self_treated_unfairly" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p>
      <b>Do you think people of your race or ethnicity are treated unfairly?</b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="often" />
        Often
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="sometimes" />
        Sometimes
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="seldom" />
        Seldom
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="never" />
        Never
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="race_treated_unfairly" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p><b>Do you think people of your religion are treated unfairly? </b></p>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="often" />
        Often
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="sometimes" />
        Sometimes
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="seldom" />
        Seldom
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="never" />
        Never
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="religion_treated_unfairly" value="refused_to_answer" />
        Refused to answer
      </label>
    </div>

    <p>
      <b>Generally speaking, would you say that most people can be trusted or
        that you can’t be too careful in dealing with people?</b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="general_trustworthiness" value="most_people" />
        Most people can be trusted
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="general_trustworthiness" value="cant_be_too_careful" />
        Can’t be too careful
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="general_trustworthiness" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="general_trustworthiness" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p>
      <b>What about the next 12 months? Do you expect the national economy to
        get better, get worse, or stay about the same?</b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="economic_outlook" value="get_better" />
        Get better
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="economic_outlook" value="stay_the_same" />
        Stay the same
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="economic_outlook" value="get_worse" />
        Get worse
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="economic_outlook" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="economic_outlook" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p>
      <b>How concerned are you about the rise of Islamic extremism in the
        U.S.?</b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="very_concerned" />
        Very concerned
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="somewhat_concerned" />
        Somewhat concerned
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="not_too_concerned" />
        Not too concerned
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="not_concerned" />
        Not concerned
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="islamic_extremism" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <p>
      <b>
        In general, how well do you think the American government is doing in
        reducing the threat of terrorism?
      </b>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="very_well" />
        Very well
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="fairly_well" />
        Fairly well
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="not_very_well" />
        Not very well
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="not_well_at_all" />
        Not well at all
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="dont_know" />
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="reducing_terrorism" value="refuse_to_answer" />
        Refuse to answer
      </label>
    </div>

    <button type="submit" class="btn btn-primary questionnaire-submit-btn">
      End of Survey
    </button>
  </form>
</div>
{% endblock leftcontent %} 

{% block jscontent %}
<!-- JavaScript code for this template -->
<script type="text/javascript">
  var keep = Math.floor(Math.random() * 3);

  $(document).ready(function() {
    var elems = $(".random");
    for (var i = 0; i < elems.length; ++i) {
      if (i !== keep) {
        $(elems[i]).hide();
      }
    }
  });

  $("#questionform").submit(function(event) {
    event.preventDefault();

    var news_source = $("input[name=news_source]:checked")
      .map(function() { return $(this).val() }).get()
    var muslims_in_neighborhood = $("input[name=muslims_in_neighborhood]:checked").val();
    var muslim_coworkers = $("input[name=muslim_coworkers]:checked").val();
    var self_treated_unfairly = $("input[name=self_treated_unfairly]:checked").val();
    var race_treated_unfairly = $("input[name=race_treated_unfairly]:checked").val();
    var religion_treated_unfairly = $("input[name=religion_treated_unfairly]:checked").val();
    var general_trustworthiness = $("input[name=general_trustworthiness]:checked").val();
    var economic_outlook = $("input[name=economic_outlook]:checked").val();
    var islamic_extremism = $("input[name=islamic_extremism]:checked").val();
    var reducing_terrorism = $("input[name=reducing_terrorism]:checked").val();

    if (
      !news_source.length > 0 ||
      !muslims_in_neighborhood ||
      !muslim_coworkers ||
      !self_treated_unfairly ||
      !race_treated_unfairly ||
      !religion_treated_unfairly ||
      !general_trustworthiness ||
      !economic_outlook ||
      !islamic_extremism ||
      !reducing_terrorism
    ) {
      alert("Please check all the anwsers");
    } else {
      $.ajax({
        url: "{% url 'invest_game:question3' %}",
        method: "POST",
        data: JSON.stringify({
          news_source: news_source,
          muslims_in_neighborhood: muslims_in_neighborhood,
          muslim_coworkers: muslim_coworkers,
          self_treated_unfairly: self_treated_unfairly,
          race_treated_unfairly: race_treated_unfairly,
          religion_treated_unfairly: religion_treated_unfairly,
          general_trustworthiness: general_trustworthiness,
          economic_outlook: economic_outlook,
          islamic_extremism: islamic_extremism,
          reducing_terrorism: reducing_terrorism
        }),
      }).done(function() {
        window.location.href = {% url "invest_game:finish" %}
      })
    } 
  });
</script>
{% endblock jscontent %}
