{% extends "base.html" %} 
{% load static %} 

{% block title %}Investing Game{% endblock title %} 
{% block leftcontent %}
<div id="InstructionsDIV">
  <div id="Instructions3">
    <h3>
      Next, guess how much {{respondent}} will give back to you. You receive a
      bonus for an accurate guess – if your guess is within $1 of the actual amount,
      you will earn an additional $2. How much do you think {{respondent}}
      has decided to give back to you? 
    </h3>
    <h3 style="color:red;">
      Please use the slider at the right to make a guess!
    </h3>
  </div>
</div>
{% endblock leftcontent %} 

{% block rightcontent %}
<div id="RightContentContainer">
  <form id="ReturnForm" action="{% url 'invest_game:respondent_investment' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="respondent_investment_guess" id="returned" value="0" />
    <input type="hidden" name="part" id="part" value="" />
  </form>

  <div id="UpperArrow">
    <img
      src="{% static 'games/media/Upper_Orange_Arrow.png' %}"
      alt="Upper Arrow"
      height="100%"
      width="100%"
    />
  </div>

  <div id="LowerArrow" style="display:none;">
    <img
      src="{% static 'games/media/Lower_Orange_Arrow.png' %}"
      alt="Lower Arrow"
      height="100%"
      width="100%"
    />
  </div>

  <div id="InvestmentCalc">
    <span id="InvestmentAmount">$0</span> X 3 =
    <span id="InvestmentResult">$0</span>
  </div>

  <div id="ReturnCalc" style="display:none;">
    <span id="ReturnAmount">$0</span>
  </div>

  {% include "_coins.html" with label="Investor" coins=investor_coins name="YOU" %}
  {% include "_coins.html" with label="Respondent" coins=respondent_coins name=respondent %}

  <div id="SliderContainer">
    <div id="parent" style="display: table; table-layout: fixed;">
      <div class="childwrap" style="display: table-row;"></div>
    </div>

    <div id="slider" style=" width: 100%"></div>
    <input
      style="top: 40px; left: 36%"
      type="submit"
      class="btn btn-lg btn-success"
      id="SliderSubmitBtn"
      value="Submit"
    />
  </div>
</div>
{% endblock rightcontent %} 

{% block jscontent %}
<!-- JavaScript code for this template -->
<script type="text/javascript">
  $(document).ready(function(){
      var USER_INVESTMENT_MULTIPLIER = Number({{ USER_INVESTMENT_MULTIPLIER }});
      var USER_STARTING_COINS_NUM = 5;
      var userInvestment = Number({{ user_investment }});
      var numUserCoins = USER_STARTING_COINS_NUM - userInvestment;
      var numRespondentCoins = userInvestment * USER_INVESTMENT_MULTIPLIER + USER_STARTING_COINS_NUM; 
      var returned = 0;

      for (var i = 0; i <= numRespondentCoins; i++) {
        var elm = '<div class="child" ' +
        'style="display: table-cell; width: calc(100% / ' + numRespondentCoins +  ');">' + '|' +
        '</div>';
        $(elm).appendTo($(".childwrap"));
      }

      $("#UpperArrow").children("img")[0].src ="{% static 'games/media/Upper_Blue_Arrow.png' %}";
      $("#LowerArrow").show();
      $("#ReturnCalc").show();
      $("#InvestmentAmount").css("color", "blue");
      $("#InvestmentCalc").css("color", "blue");
      $("#InvestorCoinsAmountNum").css("color", "green");
      $("#InvestorPasses").html(userInvestment);
      $("#InvestorIdentity").css("font-weight", "normal");
      $("#InvestorIdentityLabel").css("font-weight", "normal");
      $("#ResponderIdentity").css("font-weight", "bold");
      $("#ResponderIdentityLabel").css("font-weight", "bold");
      $("#RespondentCoinsAmount").css("color", "green");

      $( "#InvestmentAmount" ).html( "$" + userInvestment );
      $( "#InvestmentResult" ).html( "$" + (userInvestment * USER_INVESTMENT_MULTIPLIER) );

      $("#returned").val( returned );
      $( "#ReturnAmount" ).html( "$" + returned );

      $( "#InvestorCoinsAmountNum" ).html( "$" + numUserCoins);
      $( "#RespondentCoinsAmountNum" ).html( "$" + (USER_STARTING_COINS_NUM + (userInvestment * USER_INVESTMENT_MULTIPLIER) - returned) );

      $("#InvestorCoinsAmount").css("top", (76 - 9 * (returned - userInvestment)) + "px");
      $("#RespondentCoinsAmount").css("top", (76 + 9 * (returned - (userInvestment * USER_INVESTMENT_MULTIPLIER))) + "px");

      var sliderMaxVal = USER_STARTING_COINS_NUM + (userInvestment * USER_INVESTMENT_MULTIPLIER);
      var sliderMinVal = 0;
      var sliderVal = sliderMaxVal - returned;

      for (i = 1; i <= 20; i++) {
        if (i <= sliderVal) {
          $("#RespondentCoin" + i).show();
        }
        else {
          $("#RespondentCoin" + i).hide();
        }
      }
      for (i = 1; i <= 20; i++) {
        if (i <= USER_STARTING_COINS_NUM - userInvestment + returned) {
          $("#InvestorCoin" + i).show();
        }
        else {
          $("#InvestorCoin" + i).hide();
        }
      }

      $( "#slider" ).slider({
        value: sliderVal,
        min: sliderMinVal,
        max: sliderMaxVal,
        step: 1,
        slide: function( event, ui ) {
          userInvestment = userInvestment - 2;
          var inv = parseInt(ui.value);
          var transferedAmount = sliderMaxVal - inv;

          $("#returned").val(transferedAmount);
          $( "#ReturnAmount" ).html( "$" + transferedAmount );

          $( "#InvestorCoinsAmountNum" ).html( "$" + (USER_STARTING_COINS_NUM - userInvestment + transferedAmount) );
          $( "#RespondentCoinsAmountNum" ).html( "$" + inv );

          $("#InvestorCoinsAmount").css("top", (76 - 9 * (transferedAmount - userInvestment)) + "px");
          $("#RespondentCoinsAmount").css("top", (76 + 9 * (transferedAmount - (userInvestment * USER_INVESTMENT_MULTIPLIER))) + "px");

          for (i = 1; i <= 20; i++) {
            if (i <= inv) {
              $("#RespondentCoin" + i).show();
            }
            else {
              $("#RespondentCoin" + i).hide();
            }
          }
          for (i = 1; i <= 20; i++) {
            if (i <= USER_STARTING_COINS_NUM - userInvestment + transferedAmount) {
              $("#InvestorCoin" + i).show();
            }
            else {
              $("#InvestorCoin" + i).hide();
            }
          }

          userInvestment = userInvestment + 2;
        }
      });
      userInvestment = userInvestment + 2;

      $("#SliderSubmitBtn").click(function() {
          $("#ReturnForm").submit();
      });
  });
</script>
{% endblock jscontent %}
