{% extends "base.html" %} 

{% load static %} 

{% block title %}Welcome!{% endblock title %} 

{% block leftcontent %}
<div id="LeftContentContainer">
  <h3 id="instructions">
    Next, we will ask you to play a game in which you have the opportunity to
    earn a little bit of cash. You are an Investor, investing in another
    person called the Responder. The Responder is someone from an American
    city who has already played their part of the game.
  </h3>
  <h3 id="intro-title">
    Let’s first find out who your Responder is. Click on one of the icons on the
    right.
  </h3>
  <div class="step_by_step" style="display:none">
    <h3>
      Your Responder’s name is
      <strong class="responder-name"></strong>.
    </h3>
    <h3>Here’s how the game works:</h3>
    <ul>
      <li>
        <h4>
          Each of you – the Investor and <span class="responder-name"></span> –
          will be given $5.
        </h4>
      </li>
      <li>
        <h4>
          As the Investor, you will then have the opportunity to pass some, all
          or none of your $5 to <span class="responder-name"></span>, as you
          like.
        </h4>
      </li>
      <li>
        <h4>
          Then we will triple the amount you give and pass it to
          <span class="responder-name"></span>.
        </h4>
      </li>
      <li>
        <h4>
          After that, <span class="responder-name"></span> will give some of the
          money they have at that point to you.
        </h4>
      </li>
      <li>
        <h4>OK, let’s play. Click "Next" to continue.</h4>
      </li>
    </ul>
  </div>
</div>
{% endblock leftcontent %} 

{% block rightcontent %}
{% csrf_token %}
<div id="RightContentContainer">
  <div id="respondent-images-container">
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
  </div>

  <div class="pull-right">
    <button id="next-btn" type="button" class="btn btn-large btn-primary">
      Next
    </button>
  </div>
</div>
{% endblock rightcontent %} 

{% block jscontent %}
<!-- JavaScript code for this template -->
<script type="text/javascript">
  $(document).ready(function() {
    var isWithRespondent = false;

    $("#next-btn").click(function(evt) {
      evt.preventDefault()

      if (isWithRespondent) {
        window.location.href = {% url "invest_game:user_investment" %}
      } else {
        alert("Please select a Responder by clicking on one of the images.")
      }
    });

    var names = [
      "Ibrahim",
      "Sahr",
      "Sahal",
      "Omar",
      "Eman",
      "Douglas",
      "Christopher",
      "Philip",
      "Tracy",
      "Theresa",
    ];

    $(".respondent-img").click(function() {
      var random_id = Math.floor(Math.random() * 10);
      var respondent_name = names[random_id];

      request = $.ajax({
        url: "{% url 'invest_game:select_respondent' %}",
        method: "POST",
        data: { respondent: respondent_name },
        datatype: "json",
      });

      request.done(function(data) {
        console.log(data);
        $(".respondent_input").val(data);
        $(".responder-name").text(data);
        $(".step_by_step").show();
        $(".respondent-img").off("click");

        $("#intro-title, #instructions").slideUp()
        $("#respondent-images-container, #intro-title, #instructions")
          .css("opacity", "0.1")

        isWithRespondent = true;
      });
    });
  });
</script>
{% endblock jscontent %}
