{% extends "base.html" %} 

{% load static %} 

{% block title %}Welcome!{% endblock title %} 

{% block leftcontent %}
<div id="LeftContentContainer">
  <h3 id="intro-title">
    Let’s first find out whom you're playing with. 
  </h3>
  <h3 style="color:red;">
    Click on one of the icons on the right!
  </h3>
  <div class="step_by_step" style="display:none">
    <h3>
      You have been matched with 
      <strong class="responder-name"></strong>.
    </h3>
    <h3>Here’s how the game works:</h3>
    <ul>
      <li>
        <h4>
          You and <span class="responder-name"></span> start with $5 each.
        </h4>
      </li>
      <li>
        <h4>
          You then have the opportunity to pass some, all,
          or none of your $5 to <span class="responder-name"></span>, as you
          like.
        </h4>
      </li>
      <li>
        <h4>
          We will triple the amount you give and pass it to
          <span class="responder-name"></span>.
        </h4>
      </li>
      <li>
        <h4>
          You will then discover whether <span class="responder-name"></span> has
          chosen to give some of the money they have at that point to you.
        </h4>
      </li>
      <li>
        <h4>OK, let’s play. 
          <span style="color:red;">Click "Next" to continue!</span>
        </h4>
      </li>
    </ul>
  </div>
</div>
{% endblock leftcontent %} 

{% block rightcontent %}
{% csrf_token %}
<div id="RightContentContainer">
  <div id="respondent-images-container">
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
    <img class="respondent-img" src="{% static 'games/media/user.svg' %}" />
  </div>

  <div class="pull-right">
    <button id="next-btn" type="button" class="btn btn-large btn-primary">
      Next
    </button>
  </div>
</div>
{% endblock rightcontent %} 

{% block jscontent %}
<!-- JavaScript code for this template -->
<script type="text/javascript">
  $(document).ready(function() {
    var isWithRespondent = false;

    $("#next-btn").click(function(evt) {
      evt.preventDefault()

      if (isWithRespondent) {
        window.location.href = {% url "invest_game:user_investment" %}
      } else {
        alert("Please select a Responder by clicking on one of the images.")
      }
    });

    var names = [
      "Ibrahim",
      "Sahr",
      "Sahal",
      "Omar",
      "Eman",
      "Douglas",
      "Christopher",
      "Philip",
      "Tracy",
      "Theresa",
    ];

    $(".respondent-img").click(function() {
      var random_id = Math.floor(Math.random() * 10);
      var respondent_name = names[random_id];

      request = $.ajax({
        url: "{% url 'invest_game:select_respondent' %}",
        method: "POST",
        data: { respondent: respondent_name },
        datatype: "json",
      });

      request.done(function(data) {
        console.log(data);
        $(".respondent_input").val(data);
        $(".responder-name").text(data);
        $(".step_by_step").show();
        $(".respondent-img").off("click");

        $("#respondent-images-container")
          .css("opacity", "0.1")

        isWithRespondent = true;
      });
    });
  });
</script>
{% endblock jscontent %}
