{% extends "base.html" %} 

{% load static %} 
{% load coin_offset %} 

{% block title %}Investing Game{% endblock title %} 

{% block leftcontent %}
<div id="InstructionsDIV">
  <div id="Instructions3">
    <h3>Here’s how the game works:</h3>
    <ul>
      <li>
        <h4>
          Each of you – the Investor and {{respondent}} - will be given $5.
        </h4>
      </li>
      <li>
        <h4>
          As the Investor, you will then have the opportunity to pass some, all
          or none of your $5 to {{respondent}}, as you like.
        </h4>
      </li>
      <li>
        <h4>
          Then we will triple the amount you give and pass it to {{respondent}}.
        </h4>
      </li>
      <li>
        <h4>
          After that, {{respondent}} will give some of the money they have at
          that point to you.
        </h4>
      </li>
      <li>
        <h4>OK, let’s play.</h4>
      </li>
    </ul>
    <h3>
      You now have $5. How much you would like to pass to {{respondent}}? 
    </h3>
    <h3 style="color:red;">
      Please use the slider at the right to make a decision.
    </h3>
  </div>
</div>
{% endblock leftcontent %} 

{% block rightcontent %}
<div id="RightContentContainer">
  <form
    id="InvestorForm"
    action="{% url 'invest_game:user_investment' %}"
    method="post"
  >
    {% csrf_token %}
    <input type="hidden" name="user_investment" id="invested" value="0" />
  </form>

  <div id="UpperArrow">
    <img
      src="{% static 'games/media/Upper_Orange_Arrow.png' %}"
      alt="Upper Arrow"
      height="100%"
      width="100%"
    />
  </div>

  <div id="LowerArrow" style="display:none;">
    <img
      src="{% static 'games/media/Lower_Orange_Arrow.png' %}"
      alt="Lower Arrow"
      height="100%"
      width="100%"
    />
  </div>

  <div id="InvestmentCalc">
    <span id="InvestmentAmount">$0</span> X 3 =
    <span id="InvestmentResult">$0</span>
  </div>

  <div id="ReturnCalc" style="display:none;">
    <span id="ReturnAmount">$0</span>
  </div>

  {% include "_coins.html" with label="Investor" coins=investor_coins name="YOU" %}
  {% include "_coins.html" with label="Respondent" coins=respondent_coins name=respondent %}

  <div id="SliderContainer">
    <div id="parent" style="display: table; table-layout: fixed;">
      <div class="childwrap" style="display: table-row;">
        <div class="child" style="display: table-cell; width: calc(100% / 5)">
          |
        </div>
        <div class="child" style="display: table-cell; width: calc(100% / 5)">
          |
        </div>
        <div class="child" style="display: table-cell; width: calc(100% / 5)">
          |
        </div>
        <div class="child" style="display: table-cell; width: calc(100% / 5)">
          |
        </div>
        <div class="child" style="display: table-cell; width: calc(100% / 5)">
          |
        </div>
        <div class="child" style="display: table-cell; width: calc(100% / 5)">
          |
        </div>
      </div>
    </div>

    <div id="slider" style=" width: 100%"></div>
    <input
      style="top: 40px; left: 36%"
      type="submit"
      class="btn btn-lg btn-success"
      id="SliderSubmitBtn"
      value="Submit"
    />
  </div>
</div>
{% endblock rightcontent %} 

{% block jscontent %}
<!-- JavaScript code for this template -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#RightContentContainer").height($(window).height()*0.75);

    var invested = 0;
    $("#invested").val( invested );

    $( "#InvestmentAmount" ).html( "$" + invested );
    $( "#InvestmentResult" ).html( "$" + (invested * 3) );

    $( "#InvestorCoinsAmountNum" ).html( "$" + (5 - invested) );
    $( "#RespondentCoinsAmountNum" ).html( "$" + (5 + (invested * 3)) );

    $("#InvestorCoinsAmount").css("top", (76 + 9 * invested) + "px");
    $("#RespondentCoinsAmount").css("top", (76 - 27 * invested) + "px");

    for (i = 1; i <= 5; i++) {
      if (i <= invested) {
        $("#InvestorCoin" + (6 - i)).hide();
        $("#RespondentCoin" + (5 + (i * 3))).show();
        $("#RespondentCoin" + (5 + (i * 3) - 1)).show();
        $("#RespondentCoin" + (5 + (i * 3) - 2)).show();
      }
      else {
        $("#InvestorCoin" + (6 - i)).show();
        $("#RespondentCoin" + (5 + (i * 3))).hide();
        $("#RespondentCoin" + (5 + (i * 3) - 1)).hide();
        $("#RespondentCoin" + (5 + (i * 3) - 2)).hide();
      }
    }

    $( "#slider" ).slider({
      value: invested,
      min: 0,
      max: 5,
      step: 1,
      slide: function( event, ui ) {
        var inv = parseInt(ui.value);
        $("#invested").val(ui.value);

        $( "#InvestmentAmount" ).html( "$" + ui.value );
        $( "#InvestmentResult" ).html( "$" + (inv * 3) );

        $( "#InvestorCoinsAmountNum" ).html( "$" + (5 - inv) );
        $( "#RespondentCoinsAmountNum" ).html( "$" + (5 + (inv * 3)) );

        $("#InvestorCoinsAmount").css("top", (76 + 9 * inv) + "px");
        $("#RespondentCoinsAmount").css("top", (76 - 27 * inv) + "px");

        for (i = 1; i <= 5; i++) {
          if (i <= inv) {
            $("#InvestorCoin" + (6 - i)).hide();
            $("#RespondentCoin" + (5 + (i * 3))).show();
            $("#RespondentCoin" + (5 + (i * 3) - 1)).show();
            $("#RespondentCoin" + (5 + (i * 3) - 2)).show();
          }
          else {
            $("#InvestorCoin" + (6 - i)).show();
            $("#RespondentCoin" + (5 + (i * 3))).hide();
            $("#RespondentCoin" + (5 + (i * 3) - 1)).hide();
            $("#RespondentCoin" + (5 + (i * 3) - 2)).hide();
          }
        }
      }
    });

    $("#SliderSubmitBtn").click(function() {
      $("#InvestorForm").submit();
    });
  });
</script>
{% endblock jscontent %}
